
services:

  web:

    container_name: cryptonestx-web

    build:

      context: .
      dockerfile: Dockerfile
      
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./static:/app/static
      - ./media:/app/media

    ports:
      - "8007:8007"
    restart: always
    command: gunicorn cryptonestx.wsgi:application --bind 0.0.0.0:8007
    



  db:
    image: postgres:14
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5437:5432"
    restart: always




volumes:
  postgres_data:
  static_volume:
  media_volume:

